@model Noticias
@{
    ViewData["Title"] = "Noticias";
}

<div class="titulo_pagina">
        <h1>cadastro de @ViewData["Title"]</h1>
</div>

<form  class="cadastro" method="post" action='@Url.Action("Cadastrar")' enctype="multipart/form-data">

    <div class="campo">
        <label for="IdNoticia">Id Noticia</label>
        <input type="text" name="IdNoticia" id="IdNoticia">
    </div>

    <div class="campo">
        <label for="Titulo">Titulo</label>
        <input type="text" name="Titulo" id="Titulo">
    </div>

    <div class="campo">
        <label for="Imagem">Imagem</label>
        <input type="file" name="Imagem" id="Imagem">
    </div>


    <button class="gradient btn" type="submit">Cadastrar</button>
</form>

<table class="table table-responsive table-striped">
    <thead>
        <th>Id</th>
        <th>Título</th>
        <th>Imagem</th>
    </thead>
    <body>
        @foreach (var item in ViewBag.Noticias)
        {
            <tr>
                <td>@item.IdNoticia</td>
                <td>@item.Titulo</td>
                <td>
                    <img src="img/Noticia/@item.Imagem" alt="Imagem da notícia @item.Titulo" width="40">
                </td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Noticia" asp-action="Deletar"
                    asp-route-id="@item.IdNoticia">Excluir</a>
                    <i class= "fa fa-trash"></i>
                </td>
            </tr>
        }
    </body>
</table>